@model Employee

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Demo project</h1>
    <div class="row justify-content-between">
        <div class="border-light col-5 mt-5">
            <a asp-controller="Employee" asp-action="Index" class="btn btn-primary w-100"><i class="bi bi-arrow-right-square"></i>&nbsp;See more</a>
        </div>
        <form method="get" class="col-3 mt-5" asp-controller="Home" asp-action="Index">
            @* <label for="exampleSelect1" class="form-label mt-4">Language</label> *@
            <select class="form-select bg-primary text-light" id="exampleSelect1">
                <option>English</option>
                <option>简体中文</option>
                <option>Español</option>
            </select>
        </form>
    </div>
</div>