@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Http.Features
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@using DemoProjectAspNetMVC.Resources

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures.Select(c => new SelectListItem() { Value = c.Name, Text = c.DisplayName }).ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<form method="post" class="w-100" asp-controller="Home" asp-route-returnUrl="@returnUrl" asp-action="SetLanguage">
    <select name="requestCulture" class="form-select bg-primary text-light" id="exampleSelect1"
            asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"
            onchange="this.form.submit()">
    </select>
</form>